@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@700&display=swap");
html {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #001855;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #ffffff;
  min-height: 1000px;
}

a,
button,
input,
textarea {
  font-family: "Inter", sans-serif;
}

figure {
  margin: 0;
}

.logo__link {
  position: relative;
  min-height: 100%;
  display: inline-block;
  padding-left: 39px;
  color: #001855;
  font-family: "Montserrat", "Inter", sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}
.logo__link:hover {
  color: #001855;
}
.logo__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 32px;
  height: 32px;
  background: url("../assets/logo.svg") left center no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.btn {
  border-radius: 32px;
}
.btn .btn-primary {
  color: #ffffff;
  background-color: #326bff;
  border-color: #326bff;
}

.deposit-card {
  position: relative;
  padding: 28px 24px 16px;
  margin-bottom: 28px;
  border-radius: 12px;
  background-color: #ffffff;
}
@media (max-width: 576px) {
  .deposit-card {
    padding: 20px 16px 16px;
  }
}
.deposit-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
@media (max-width: 992px) {
  .deposit-card__info {
    gap: 16px;
  }
}
.deposit-card__bank {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 336px;
          flex: 0 1 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media (max-width: 992px) {
  .deposit-card__bank {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 296px;
            flex: 0 1 296px;
  }
}
@media (max-width: 768px) {
  .deposit-card__bank {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 276px;
            flex: 0 1 276px;
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .deposit-card__bank {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 197px;
            flex: 1 1 197px;
    gap: 6px;
  }
}
@media (max-width: 400px) {
  .deposit-card__bank {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    gap: 6px;
  }
}
.deposit-card__bank-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  width: 64px;
  height: 64px;
}
@media (max-width: 992px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
    width: 56px;
    height: 56px;
  }
}
@media (max-width: 768px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 576px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 400px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    width: 24px;
    height: 24px;
  }
}
.deposit-card__bank-logo img {
  width: 100%;
  height: auto;
}
.deposit-card__bank-name {
  color: #001855;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
}
@media (max-width: 992px) {
  .deposit-card__bank-name {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .deposit-card__bank-name {
    gap: 6px;
    word-break: break-word;
  }
}
.deposit-card__bank-country {
  color: #7f8daf;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  letter-spacing: 0.1px;
}
.deposit-card__details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .deposit-card__details {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .deposit-card__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media (max-width: 576px) {
  .deposit-card__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 88px;
            flex: 1 0 88px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0;
    min-width: 88px;
  }
}
.deposit-card__details-rate {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
@media (max-width: 992px) {
  .deposit-card__details-rate {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .deposit-card__details-rate {
    font-size: 15px;
    line-height: 20px;
  }
}
.deposit-card__details-term, .deposit-card__details-amount {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}
@media (max-width: 576px) {
  .deposit-card__details-term, .deposit-card__details-amount {
    color: #7f8daf;
    font-size: 13px;
    line-height: 18px;
  }
}
@media (max-width: 576px) {
  .deposit-card__details-amount {
    display: none;
  }
}
.deposit-card__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 992px) {
  .deposit-card__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 166px;
            flex: 0 0 166px;
  }
}
@media (max-width: 768px) {
  .deposit-card__buttons {
    display: none;
  }
}
.deposit-card__button-primary {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 18px 35px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
}
@media (max-width: 992px) {
  .deposit-card__button-primary {
    padding: 13px 24px;
  }
}
.deposit-card__button-favorites {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border: none;
  background: url(../assets/favorites-icon.svg) center no-repeat;
}
.deposit-card__tags {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.deposit-card__tag {
  padding: 4px 12px 6px;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1px;
  border-radius: 100px;
}
@media (max-width: 576px) {
  .deposit-card__tag {
    padding: 2px 8px;
    font-size: 11px;
    line-height: 16px;
  }
}
.deposit-card__tag_online {
  background-color: #326bff;
}
.deposit-card__tag_protected {
  background-color: #3bf;
}
.deposit-card__tag_subordinated {
  color: #ff5732;
  background-color: #ffddd6;
}
.deposit-card__more-details {
  margin-top: 13px;
}
@media (max-width: 768px) {
  .deposit-card__more-details {
    display: none;
  }
}
.deposit-card__more-details-button {
  padding: 0;
  padding-right: 16px;
  color: #326bff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  border: none;
  background: url(../assets/dropdown-blue-icon.svg) no-repeat right center;
}

.header {
  padding: 20px 0;
}
.header .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 60px;
}
@media (max-width: 992px) {
  .header .col-12 {
    gap: 16px;
    padding: 0 36px;
  }
}
@media (max-width: 768px) {
  .header .col-12 {
    padding: 0 36px;
  }
}
@media (max-width: 576px) {
  .header .col-12 {
    padding: 0 20px;
  }
}
.header__burger {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: none;
  height: 19px;
  width: 21px;
  border: none;
  background: url(../assets/burger-icon.svg) center no-repeat;
}
@media (max-width: 768px) {
  .header__burger {
    display: inline-block;
  }
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px 48px;
  min-height: 40px;
}
@media (max-width: 992px) {
  .header__nav {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    gap: 10px 24px;
    padding-left: 32px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__nav-link {
  color: #506392;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-decoration: none;
  word-wrap: normal;
}
.header__nav-link.active {
  color: #001855;
  font-weight: 700;
}
.header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
}
@media (max-width: 992px) {
  .header .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 177px;
            flex: 0 1 177px;
  }
}
@media (max-width: 768px) {
  .header .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.header__auth {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 24px;
}
@media (max-width: 768px) {
  .header__auth {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media (max-width: 576px) {
  .header__auth {
    display: none;
  }
}
.header__auth-link {
  display: inline-block;
  padding: 10px 0;
  color: #506392;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-decoration: none;
}
.header__auth-sign-up {
  color: #326bff;
  font-weight: 700;
}

.main {
  padding: 24px 36px 96px;
  margin: 0 auto;
  max-width: 1408px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f5f8ff;
}
@media (max-width: 768px) {
  .main {
    padding: 24px 34px 64px;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 24px 20px 64px;
  }
}
.main .container-fluid {
  padding: 0;
  max-width: 1140px;
}

.footer {
  padding: 64px 0 0;
}
.footer .container-fluid {
  position: relative;
  max-width: 1140px;
  padding: 0 20px;
}
@media (max-width: 576px) {
  .footer .container-fluid {
    padding-top: 68px;
  }
}
.footer__logo {
  margin-bottom: 52px;
}
@media (max-width: 576px) {
  .footer__logo {
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 20px;
  }
}
.footer__contacts {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  margin-bottom: 52px;
}
@media (max-width: 576px) {
  .footer__contacts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-bottom: 0;
  }
}
.footer__contacts-link {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 16px;
  padding-left: 32px;
  color: #506392;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}
.footer__contacts-link_phone {
  background-image: url(../assets/icons/phone-icon.svg);
}
.footer__contacts-link_email {
  background-image: url(../assets/icons/email-icon.svg);
}
.footer__address {
  max-width: 268px;
  padding-left: 32px;
  color: #aeb7cd;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  margin-bottom: 36px;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (max-width: 768px) {
  .footer__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 576px) {
  .footer__navigation {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
}
.footer__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
@media (max-width: 768px) {
  .footer__nav {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}
.footer__nav-title {
  margin: 0;
  color: #001855;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.footer__nav-link {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  color: #506392;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
}
.footer__copyrights {
  -webkit-box-ordinal-group: 11;
      -ms-flex-order: 10;
          order: 10;
  margin-top: 64px;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #aeb7cd;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border-top: 1px solid #e4e7f0;
}
@media (max-width: 576px) {
  .footer__copyrights {
    margin-top: 52px;
  }
}

.search {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 8px 37px;
  background-color: #ffffff;
}
@media (max-width: 768px) {
  .search {
    padding: 8px 34px;
  }
}
@media (max-width: 576px) {
  .search {
    padding: 8px 20px;
  }
}
.search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
  padding-left: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4e7f0;
  border-radius: 50px;
  background: url(../assets/search-icon.svg) no-repeat;
  background-position: left 15px center;
}
@media (max-width: 768px) {
  .search__bar {
    padding-left: 0;
    background: none;
  }
}
.search__bar-select {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 28px;
  overflow: hidden;
}
@media (max-width: 768px) {
  .search__bar-select {
    padding-left: 20px;
  }
}
@media (max-width: 576px) {
  .search__bar-select {
    display: none;
  }
}
@media (max-width: 576px) {
  .search__bar-select_residency {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 28px;
  }
}
.search__bar-select_currency {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.search__bar-label {
  color: #506392;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .search__bar-label {
    display: none;
  }
}
.search__bar-label_mobile {
  display: none;
  word-wrap: break-word;
}
@media (max-width: 576px) {
  .search__bar-label_mobile {
    display: block;
    padding-left: 4px;
  }
}
.search__bar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
  border: none;
}
@media (max-width: 768px) {
  .search__bar .btn {
    height: 42px;
    width: 42px;
    padding: 0;
    background-image: url(../assets/search-icon.svg);
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 768px) {
  .search__bar .btn span {
    display: none;
  }
}
.search__select .form-select {
  width: 100%;
  padding: 2px 4px;
  padding-right: 24px;
  color: #001855;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  border: none;
  background-color: inherit;
  background-position: right 4px center;
  min-width: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (max-width: 576px) {
  .search__select .form-select {
    background: none;
  }
}
.search__select .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.search__select-residency {
  position: relative;
  padding-left: 26px;
}
.search__select-residency:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.search__select-residency[data-residency=at]::before {
  background-image: url(../assets/countries/austria.svg);
}
.search__select-residency[data-residency=be]::before {
  background-image: url(../assets/countries/belgium.svg);
}
.search__select-residency[data-residency=gb]::before {
  background-image: url(../assets/countries/britain.svg);
}
.search__select-residency[data-residency=bg]::before {
  background-image: url(../assets/countries/bulgaria.svg);
}
.search__select-residency[data-residency=hr]::before {
  background-image: url(../assets/countries/croatia.svg);
}
.search__select-residency[data-residency=cy]::before {
  background-image: url(../assets/countries/cyprus.svg);
}
.search__select-residency[data-residency=cz]::before {
  background-image: url(../assets/countries/czech.svg);
}
.search__select-residency[data-residency=dk]::before {
  background-image: url(../assets/countries/denmark.svg);
}
.search__select-residency[data-residency=ee]::before {
  background-image: url(../assets/countries/estonia.svg);
}
.search__select-residency[data-residency=fl]::before {
  background-image: url(../assets/countries/finland.svg);
}
.search__select-residency[data-residency=fr]::before {
  background-image: url(../assets/countries/france.svg);
}
.search__select-residency[data-residency=de]::before {
  background-image: url(../assets/countries/germany.svg);
}
.search__select-residency[data-residency=gr]::before {
  background-image: url(../assets/countries/greece.svg);
}
.search__select-residency[data-residency=hu]::before {
  background-image: url(../assets/countries/hungary.svg);
}
.search__select-residency[data-residency=ie]::before {
  background-image: url(../assets/countries/ireland.svg);
}
.search__select-residency[data-residency=it]::before {
  background-image: url(../assets/countries/italy.svg);
}
.search__select-residency[data-residency=lv]::before {
  background-image: url(../assets/countries/latvia.svg);
}
.search__select-residency[data-residency=lt]::before {
  background-image: url(../assets/countries/lithuania.svg);
}
.search__select-residency[data-residency=lu]::before {
  background-image: url(../assets/countries/luxembourg.svg);
}
.search__select-residency[data-residency=mt]::before {
  background-image: url(../assets/countries/malta.svg);
}
.search__select-residency[data-residency=nl]::before {
  background-image: url(../assets/countries/netherlands.svg);
}
.search__select-residency[data-residency=pl]::before {
  background-image: url(../assets/countries/poland.svg);
}
.search__select-residency[data-residency=pt]::before {
  background-image: url(../assets/countries/portugal.svg);
}
.search__select-residency[data-residency=ro]::before {
  background-image: url(../assets/countries/romania.svg);
}
.search__select-residency[data-residency=sk]::before {
  background-image: url(../assets/countries/slovakia.svg);
}
.search__select-residency[data-residency=sl]::before {
  background-image: url(../assets/countries/slovenia.svg);
}
.search__select-residency[data-residency=es]::before {
  background-image: url(../assets/countries/spain.svg);
}
.search__select-residency[data-residency=se]::before {
  background-image: url(../assets/countries/sweden.svg);
}
.search__select-residency[data-residency=ch]::before {
  background-image: url(../assets/countries/switzerland.svg);
}

.quick-search {
  padding: 0 37px;
  margin-bottom: 24px;
}
@media (max-width: 768px) {
  .quick-search {
    padding: 0 34px;
  }
}
@media (max-width: 576px) {
  .quick-search {
    display: none;
  }
}
.quick-search .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.quick-search__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.quick-search__title {
  margin: 0;
  color: #506392;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
.quick-search__tag {
  padding: 4px 12px;
  border-radius: 32px;
  color: #506392;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  background: #f5f6fa;
}
.quick-search__reset {
  padding: 0;
  padding-right: 16px;
  color: #506392;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  border: none;
  background: url(../assets/close-icon.svg) right center no-repeat;
}

.protected {
  position: relative;
  margin: 0 0 26px;
  padding: 20px 80px;
  border-radius: 12px;
  background-color: #ffffff;
  background-image: url(../assets/shield-icon.svg);
  background-repeat: no-repeat;
  background-position: left 24px center;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 102, 0.05);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 102, 0.05);
}
@media (max-width: 992px) {
  .protected {
    padding: 16px 80px;
  }
}
@media (max-width: 768px) {
  .protected {
    margin: 0 0 32px;
  }
}
@media (max-width: 576px) {
  .protected {
    margin: 0 0 26px;
    padding: 16px;
    padding-left: 60px;
    background-size: 38px;
    background-position: left 16px top 16px;
  }
}
@media (max-width: 400px) {
  .protected {
    padding-left: 44px;
    background-size: 24px;
    background-position: left 16px top 16px;
  }
}
.protected__title {
  margin: 0;
  color: #001855;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.45px;
}
.protected__description {
  margin: 0;
  color: #506392;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
}
.protected__button {
  position: absolute;
  top: 50%;
  right: 24px;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 576px) {
  .protected__button {
    display: none;
  }
}
.protected__button:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url(../assets/icons/arrow-right-icon.svg) center no-repeat;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.protected__button:active::before {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.deposits__title {
  color: #001855;
  margin: 0 0 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.deposits__description {
  margin: 0 0 36px;
  color: #506392;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.6px;
}
.deposits__description img {
  width: 20px;
  height: auto;
}
.deposits__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.deposits__button-to-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
  min-width: 240px;
  margin: 0 auto;
  padding: 21px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}
@media (max-width: 576px) {
  .deposits__button-to-top {
    min-width: 100%;
  }
}
.deposits__button-to-top::after {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/icons/top-icon.svg) no-repeat center;
}

.blog-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  margin: 16px 0 32px;
  padding: 16px 24px;
  border-radius: 12px;
  border: 4px solid #ffffff;
  background: #f5f8ff;
}
@media (max-width: 768px) {
  .blog-card {
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .blog-card {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4px;
    padding: 16px;
  }
}
.blog-card__figure {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 64px;
  height: 64px;
  border-radius: 64px;
  border: 1px solid #dbe5ff;
  background: #ffffff;
}
@media (max-width: 992px) {
  .blog-card__figure {
    width: 56px;
    height: 56px;
  }
}
@media (max-width: 768px) {
  .blog-card__figure {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 400px) {
  .blog-card__figure {
    display: block;
    width: auto;
    height: auto;
    background: none;
    border: none;
  }
}
.blog-card__image {
  width: 32px;
  height: auto;
}
@media (max-width: 992px) {
  .blog-card__image {
    width: 28px;
  }
}
@media (max-width: 768px) {
  .blog-card__image {
    width: 20px;
  }
}
.blog-card__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.blog-card__title {
  margin: 0 0 4px;
  color: #001855;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
@media (max-width: 768px) {
  .blog-card__title {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }
}
.blog-card__author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}
@media (max-width: 768px) {
  .blog-card__author {
    gap: 4px;
  }
}
@media (max-width: 400px) {
  .blog-card__author {
    display: block;
  }
}
.blog-card__author-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
@media (max-width: 768px) {
  .blog-card__author-info {
    gap: 4px;
  }
}
@media (max-width: 400px) {
  .blog-card__author-info {
    gap: 2px;
  }
}
.blog-card__author-info::after {
  content: "";
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 10px;
  background-color: #c6ccdc;
}
@media (max-width: 400px) {
  .blog-card__author-info::after {
    display: none;
  }
}
.blog-card__author-photo {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 768px) {
  .blog-card__author-photo {
    display: none;
  }
}
.blog-card__author-name {
  color: #001855;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}
@media (max-width: 400px) {
  .blog-card__author-name {
    margin-bottom: 2px;
  }
}
.blog-card__author-description {
  color: #97a2be;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
}
.blog-card__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  height: 32px;
  width: 32px;
  border: none;
  background: url(../assets/icons/arrow-right-icon.svg) center no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .blog-card__button {
    display: none;
  }
}

.subscription {
  padding: 96px 34px 128px;
  margin: 16px auto;
  max-width: 1408px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 16px;
  background: #001855;
}
@media (max-width: 992px) {
  .subscription {
    border-radius: 0;
  }
}
@media (max-width: 768px) {
  .subscription {
    padding: 64px 34px 96px;
  }
}
@media (max-width: 576px) {
  .subscription {
    padding: 34px 20px 64px;
  }
}
.subscription .container-fluid {
  padding: 0;
  max-width: 1140px;
}
.subscription__figure {
  margin: 0 0 16px;
  padding: 18px 20px;
  text-align: center;
}
.subscription__image {
  width: 88px;
  height: auto;
}
.subscription__title {
  max-width: 600px;
  margin: 0 auto 16px;
  color: #ffffff;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
@media (max-width: 768px) {
  .subscription__title {
    font-size: 32px;
    line-height: 40px;
  }
}
.subscription__description {
  margin: 0 auto 48px;
  color: #f5f6fa;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.subscription__buttons {
  text-align: center;
}
.subscription__button {
  min-width: 240px;
  margin: 0 auto;
  padding: 21px;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
}
@media (max-width: 576px) {
  .subscription__button {
    min-width: 180px;
  }
}