@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@700&display=swap");
html {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #001855;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #ffffff;
  min-height: 1000px;
}

a,
button,
input,
textarea {
  font-family: "FreeSet", sans-serif;
}

figure {
  margin: 0;
}

.logo__link {
  display: inline-block;
  padding: 6px 0 6px 39px;
  color: #001855;
  font-family: "Montserrat", "Inter", "Segoe UI", Tahoma, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  background: url("../assets/logo.svg") left center no-repeat;
}
.logo__link:hover {
  color: #001855;
}

.btn {
  border-radius: 32px;
}
.btn .btn-primary {
  color: #ffffff;
  background-color: #326bff;
  border-color: #326bff;
}

.deposit-card {
  position: relative;
  padding: 28px 24px 16px;
  margin-bottom: 28px;
  border-radius: 12px;
  background-color: #ffffff;
}
.deposit-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 24px;
}
@media (max-width: 992px) {
  .deposit-card__info {
    gap: 16px;
  }
}
.deposit-card__bank {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 336px;
          flex: 0 1 336px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}
@media (max-width: 992px) {
  .deposit-card__bank {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 296px;
            flex: 0 1 296px;
  }
}
@media (max-width: 768px) {
  .deposit-card__bank {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 276px;
            flex: 1 1 276px;
    gap: 8px;
  }
}
@media (max-width: 576px) {
  .deposit-card__bank {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 197px;
            flex: 1 1 197px;
    gap: 6px;
  }
}
@media (max-width: 400px) {
  .deposit-card__bank {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    gap: 6px;
  }
}
.deposit-card__bank-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
  width: 64px;
  height: 64px;
}
@media (max-width: 992px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
    width: 56px;
    height: 56px;
  }
}
@media (max-width: 768px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 576px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    width: 38px;
    height: 38px;
  }
}
@media (max-width: 400px) {
  .deposit-card__bank-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 24px;
            flex: 0 0 24px;
    width: 24px;
    height: 24px;
  }
}
.deposit-card__bank-logo img {
  width: 100%;
  height: auto;
}
.deposit-card__bank-name {
  color: #001855;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.1px;
}
@media (max-width: 992px) {
  .deposit-card__bank-name {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
  }
}
@media (max-width: 576px) {
  .deposit-card__bank-name {
    gap: 6px;
    word-break: break-word;
  }
}
.deposit-card__bank-country {
  color: #7f8daf;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 138.462% */
  letter-spacing: 0.1px;
}
.deposit-card__details {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
}
@media (max-width: 992px) {
  .deposit-card__details {
    gap: 16px;
  }
}
@media (max-width: 768px) {
  .deposit-card__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
}
@media (max-width: 576px) {
  .deposit-card__details {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 88px;
            flex: 1 0 88px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    gap: 0;
    min-width: 88px;
  }
}
.deposit-card__details-rate {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
@media (max-width: 992px) {
  .deposit-card__details-rate {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 576px) {
  .deposit-card__details-rate {
    font-size: 15px;
    line-height: 20px;
  }
}
.deposit-card__details-term, .deposit-card__details-amount {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}
@media (max-width: 576px) {
  .deposit-card__details-term, .deposit-card__details-amount {
    color: #7f8daf;
    font-size: 13px;
    line-height: 18px;
  }
}
.deposit-card__buttons {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 208px;
          flex: 0 0 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 992px) {
  .deposit-card__buttons {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 166px;
            flex: 0 0 166px;
  }
}
@media (max-width: 768px) {
  .deposit-card__buttons {
    display: none;
  }
}
.deposit-card__button-primary {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  padding: 18px 35px;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
}
@media (max-width: 992px) {
  .deposit-card__button-primary {
    padding: 13px 24px;
  }
}
.deposit-card__button-favorites {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  height: 32px;
  border: none;
  background: url(../assets/favorites-icon.svg) center no-repeat;
}
.deposit-card__tags {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.deposit-card__tag {
  padding: 4px 12px 6px;
  color: #ffffff;
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.1px;
  border-radius: 100px;
}
@media (max-width: 576px) {
  .deposit-card__tag {
    padding: 2px 8px;
    font-size: 11px;
    line-height: 16px;
  }
}
.deposit-card__tag_online {
  background-color: #326bff;
}
.deposit-card__tag_protected {
  background-color: #3bf;
}
.deposit-card__tag_subordinated {
  color: #FF5732;
  background-color: #FFDDD6;
}
.deposit-card__more-details {
  margin-top: 13px;
}
@media (max-width: 768px) {
  .deposit-card__more-details {
    display: none;
  }
}
.deposit-card__more-details-button {
  padding: 0;
  padding-right: 16px;
  color: #326bff;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  border: none;
  background: url(../assets/dropdown-blue-icon.svg) no-repeat right center;
}

.header {
  padding: 20px 0;
}
.header .col-12 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .header .col-12 {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header .nav-link {
  padding: 10px 24px;
  color: #506392;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.header .nav-link.active {
  color: #001855;
  font-weight: 700;
}
.header .logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 280px;
          flex: 0 1 280px;
}
@media (max-width: 768px) {
  .header .logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
}
.header__nav {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
@media (max-width: 992px) {
  .header__nav {
    padding: 10px 12px;
  }
}
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
.header__auth {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 576px) {
  .header__auth {
    display: none;
  }
}
.header__auth-link.nav-link {
  padding: 10px 16px;
}
@media (max-width: 992px) {
  .header__auth-link.nav-link {
    padding: 10px 12px;
  }
}
.header__auth-sign-up.nav-link {
  color: #326bff;
  font-weight: 700;
}

.main {
  padding: 24px 36px 96px;
  margin: 0 auto;
  max-width: 1408px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 12px;
  background-color: #f5f8ff;
}
@media (max-width: 768px) {
  .main {
    padding: 24px 34px 64px;
  }
}
@media (max-width: 576px) {
  .main {
    padding: 24px 20px 64px;
  }
}
.main .container-fluid {
  padding: 0;
  max-width: 1140px;
}

.search {
  padding: 24px 0;
}
.search__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  max-width: 1140px;
  margin: 0 auto 8px;
  padding: 10px;
  padding-left: 55px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #e4e7f0;
  border-radius: 32px;
  background: url(../assets/search-icon.svg) no-repeat;
  background-position: left 15px center;
}
.search__bar .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 24px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.1px;
}

.quick-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
.quick-search__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.quick-search__title {
  margin: 0;
  color: #506392;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
}
.quick-search__tag {
  padding: 4px 12px;
  border-radius: 32px;
  color: #506392;
  font-size: 11px;
  font-weight: 500;
  line-height: 12px;
  background: #f5f6fa;
}
.quick-search__reset {
  padding: 0;
  padding-right: 16px;
  color: #506392;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.1px;
  border: none;
  background: url(../assets/close-icon.svg) right center no-repeat;
}

.protected {
  position: relative;
  margin: 0 0 26px;
  padding: 20px 80px;
  border-radius: 12px;
  background-color: #ffffff;
  background-image: url(../assets/shield-icon.svg);
  background-repeat: no-repeat;
  background-position: left 24px center;
  -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 102, 0.05);
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 102, 0.05);
}
@media (max-width: 992px) {
  .protected {
    padding: 16px 80px;
  }
}
@media (max-width: 768px) {
  .protected {
    margin: 0 0 32px;
  }
}
@media (max-width: 576px) {
  .protected {
    margin: 0 0 26px;
    padding: 16px;
    padding-left: 60px;
    background-size: 38px;
    background-position: left 16px top 16px;
  }
}
@media (max-width: 400px) {
  .protected {
    padding-left: 44px;
    background-size: 24px;
    background-position: left 16px top 16px;
  }
}
.protected__title {
  margin: 0;
  color: #001855;
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.45px;
}
.protected__description {
  margin: 0;
  color: #506392;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.5px;
}
.protected__button {
  position: absolute;
  top: 50%;
  right: 24px;
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  background: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}
@media (max-width: 576px) {
  .protected__button {
    display: none;
  }
}
.protected__button:before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  background: url(../assets/icons/arrow-right-icon.svg) center no-repeat;
  -webkit-transition: all ease-in-out 0.15s;
  transition: all ease-in-out 0.15s;
}
.protected__button:active::before {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.deposits__title {
  color: #001855;
  margin: 0 0 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.3px;
}
.deposits__description {
  margin: 0 0 36px;
  color: #506392;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.6px;
}