@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Montserrat:wght@700&display=swap');

html {
  font-size: 1rem;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: $blue900;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  background-color: $white;
  min-height: 1000px;
}

a,
button,
input,
textarea {
  font-family: 'FreeSet', sans-serif;
}

figure {
  margin: 0;
}
