// colors

$blue50: #f5f8ff;
$blue150: #dbe5ff;
$blue500: #326bff;
$blue900: #001855;
$cyan500: #3bf;
$grey100: #f5f6fa;
$grey200: #e4e7f0;
$grey300: #c6ccdc;
$grey500: #97a2be;
$grey600: #7f8daf;
$grey800: #506392;
$red150: #ffddd6;
$red500: #ff5732;
$white: #ffffff;

// transition

$baseTransition: all ease-in-out 0.15s;
