.blog-card {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px 0 32px;
  padding: 16px 24px;
  border-radius: 12px;
  border: 4px solid $white;
  background: $blue50;

  @include tablet {
    gap: 8px;
  }

  @include mobile {
    align-items: flex-start;
    gap: 4px;
    padding: 16px;
  }

  &__figure {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    border: 1px solid $blue150;
    background: $white;

    @include laptop {
      width: 56px;
      height: 56px;
    }

    @include tablet {
      width: 40px;
      height: 40px;
    }

    @include mobilesm {
      display: block;
      width: auto;
      height: auto;
      background: none;
      border: none;
    }
  }

  &__image {
    width: 32px;
    height: auto;

    @include laptop {
      width: 28px;
    }

    @include tablet {
      width: 20px;
    }
  }

  &__info {
    flex: 1 1 auto;
  }

  &__title {
    margin: 0 0 4px;
    color: $blue900;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;

    @include tablet {
      font-size: 15px;
      font-weight: 700;
      line-height: 20px;
    }
  }

  &__author {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 8px;

    @include tablet {
      gap: 4px;
    }

    @include mobilesm {
      display: block;
    }

    &-info {
      display: flex;
      align-items: center;
      gap: 8px;

      @include tablet {
        gap: 4px;
      }

      @include mobilesm {
        gap: 2px;
      }

      &::after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 10px;
        background-color: $grey300;

        @include mobilesm {
          display: none;
        }
      }
    }

    &-photo {
      width: 24px;
      height: 24px;
      border-radius: 24px;
      object-fit: cover;

      @include tablet {
        display: none;
      }
    }

    &-name {
      color: $blue900;
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      line-height: 18px;

      @include mobilesm {
        margin-bottom: 2px;
      }
    }

    &-description {
      color: $grey500;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.1px;
    }
  }

  &__button {
    flex: 0 0 auto;
    height: 32px;
    width: 32px;
    border: none;
    background: url(../assets/icons/arrow-right-icon.svg) center no-repeat;
    cursor: pointer;

    @include mobile {
      display: none;
    }
  }
}
