.header {
  position: relative;
  padding: 20px 0;

  .col-12 {
    display: flex;
    align-items: center;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;

    @include laptop {
      gap: 16px;
      padding: 0 36px;
    }

    @include tablet {
      padding: 0 36px;
    }

    @include mobile {
      padding: 0 20px;
    }
  }

  &__burger {
    flex: 0 0 auto;
    display: none;
    height: 20px;
    width: 21px;
    border: none;
    background: url(../assets/icons/burger-icon.svg) center no-repeat;

    @include tablet {
      display: inline-block;
    }

    &.active {
      background: url(../assets/icons/close-icon.svg) center no-repeat;
    }
  }

  & .logo {
    flex: 0 1 280px;

    @include laptop {
      flex: 0 1 177px;
    }

    @include tablet {
      flex: 0 0 auto;
    }
  }

  &__menu {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @include tablet {
      position: absolute;
      top: 64px;
      left: -1200px;
      width: 100%;
      z-index: 1000;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      min-height: calc(100vh - 60px);
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      border-top: 1px solid $grey200;
      background-color: $white;
      transition: left ease-out 0.3s;
      overflow: auto;
    }

    &.active {
      @include tablet {
        left: 0;
      }
    }
  }

  &__nav {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px 48px;
    min-height: 40px;

    @include laptop {
      flex: 1 1 auto;
      gap: 10px 24px;
      padding-left: 32px;
    }

    @include tablet {
      flex: 0 0 auto;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 8px;
      padding: 0;
      width: 100%;
    }

    &-link {
      color: $grey800;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.7px;
      text-decoration: none;
      word-wrap: normal;

      @include tablet {
        display: inline-block;
        width: 100%;
        padding: 12px 0;
      }

      &.active {
        color: $blue900;
        font-weight: 700;
      }
    }

    &-divider {
      display: none;

      @include tablet {
        display: block;
        width: 100%;
        height: 1px;
        background-color: $grey200;
      }
    }
  }

  &__auth {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;

    @include tablet {
      display: none;
    }

    @include mobile {
      position: static;
      display: block;
      width: 100%;
      align-items: flex-end;
      justify-content: center;
      padding-bottom: 60px;
    }

    &_tablet {
      display: none;

      @include tablet {
        flex: 1 0 auto;
        display: flex;
        position: static;
        align-items: center;
        justify-content: flex-end;
      }

      @include mobile {
        display: none;
      }
    }

    &-buttons {
      display: flex;
      gap: 24px;
    }

    &-link {
      display: inline-block;
      padding: 10px 0;
      color: $grey800;
      font-size: 15px;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.7px;
      text-decoration: none;

      @include mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 128px;
        max-width: 180px;
        width: 100%;
        padding: 13px 24px;
        border-radius: 100px;
        color: $blue500;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
        background-color: $blue150;
      }
    }

    &-sign-up {
      color: $blue500;
      font-weight: 700;

      @include mobile {
        color: $white;
        background-color: $blue500;
      }
    }

    & .language {
      @include mobile {
        flex: 1 0 100%;
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 100%;
        padding: 20px 0;
        margin-bottom: 100px;
        border-top: 1px solid $grey200;
        border-bottom: 1px solid $grey200;
      }

      &__label {
        display: none;
        color: $grey800;
        font-size: 15px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.7px;

        @include mobile {
          display: block;
        }
      }

      & .custom-select {
        @include mobile {
          position: static;
          width: max-content;
        }

        & .select {
          &-selected {
            height: 20px;

            & span {
              @include mobile {
                display: none;
              }
            }
          }

          &-items {
            @include mobile {
              position: fixed;
              top: 0;
              left: 0;
              z-index: 100;
              min-height: 100vh;
              width: 100%;
              max-width: 100%;
              padding: 0;
              transform: translateX(0);
            }

            &.select-hide {
              @include mobile {
                transition: all ease-out 0.3s;
                transform: translateX(-1000px);
              }
            }

            &__header {
              display: none;

              @include mobile {
                position: relative;
                display: block;
                padding: 18px 20px;
                color: $blue900;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                text-align: center;
              }

              &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 27px;
                z-index: 2000;
                display: block;
                width: 20px;
                height: 20px;
                background: url(../assets/icons/arrow-right-icon.svg) center no-repeat;
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }

          &-item {
            @include mobile {
              width: calc(100% - 40px);
              margin: 0 auto;
              padding: 20px 0;
              padding-left: 28px;
              background-position: left center;
              border-bottom: 1px solid $grey200;
            }

            &::after {
              @include mobile {
                right: 0;
              }
            }
          }
        }
      }
    }
  }
}
