.header {
  padding: 20px 0;

  .col-12 {
    display: flex;
    align-items: center;

    @include tablet {
      justify-content: space-between;
    }
  }

  & .nav {
    &-link {
      padding: 10px 24px;
      color: $grey800;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.2px;

      &.active {
        color: $blue900;
        font-weight: 700;
      }
    }
  }

  & .logo {
    flex: 0 1 280px;

    @include tablet {
      flex: 0 0 auto;
    }
  }

  &__nav {
    flex: 1 0 auto;

    @include laptop {
      padding: 10px 12px;
    }

    @include tablet {
      display: none;
    }
  }

  &__auth {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;

    @include mobile {
      display: none;
    }

    &-link.nav-link {
      padding: 10px 16px;

      @include laptop {
        padding: 10px 12px;
      }
    }

    &-sign-up.nav-link {
      color: $blue500;
      font-weight: 700;
    }
  }
}
