.main {
  padding: 24px 36px 96px;
  margin: 0 auto;
  max-width: 1408px;
  box-sizing: border-box;
  border-radius: 12px;
  background-color: $blue50;

  @include tablet {
    padding: 24px 34px 64px;
  }

  @include mobile {
    padding: 24px 20px 64px;
  }

  .container-fluid {
    padding: 0;
    max-width: 1140px;
  }

}
