.search {
  padding: 24px 37px;

  @include tablet {
    padding: 24px 34px;
  }

  @include mobile {
    padding: 24px 20px;
  }

  &__bar {
    display: flex;
    gap: 8px;
    max-width: 1140px;
    margin: 0 auto 8px;
    padding: 10px;
    padding-left: 55px;
    box-sizing: border-box;
    border: 1px solid $grey200;
    border-radius: 50px;
    background: url(../assets/search-icon.svg) no-repeat;
    background-position: left 15px center;

    @include tablet {
      padding-left: 0;
      background: none;
    }

    &-select {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding-left: 28px;
      overflow: hidden;

      @include tablet {
        padding-left: 20px;
      }

      @include mobile {
        display: none;
      }

      &_residency {
        @include mobile {
          display: flex;
          padding-left: 28px;
        }
      }

      &_currency {
        flex: 0 0 auto;
        max-width: max-content;
      }

      &_terms {
      }

      &_type {
      }

      & .form-select {
        flex: 1 1 auto;
        width: auto;
        padding: 2px 4px;
        padding-right: 24px;
        color: $blue900;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        border: none;
        background-color: inherit;
        background-position: right 4px center;
        min-width: auto;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        @include mobile {
          background: none;
        }

        &:focus {
          box-shadow: none;
        }
      }
    }

    &-label {
      color: $grey800;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile {
        display: none;
      }

      &_mobile {
        display: none;
        word-wrap: break-word;

        @include mobile {
          display: block;
          padding-left: 4px;
        }
      }
    }

    & .btn {
      display: flex;
      padding: 13px 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.1px;
      border: none;

      @include tablet {
        height: 42px;
        width: 42px;
        padding: 0;
        background-image: url(../assets/search-icon.svg);
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
      }

      & span {
        @include tablet {
          display: none;
        }
      }
    }
  }
}
