.search {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 8px 37px;
  background-color: $white;

  @include tablet {
    padding: 8px 34px;
  }

  @include mobile {
    padding: 8px 20px;
  }

  &__bar {
    display: flex;
    gap: 8px;
    max-width: 1140px;
    margin: 0 auto;
    padding: 10px;
    padding-left: 55px;
    box-sizing: border-box;
    border: 1px solid $grey200;
    border-radius: 50px;
    background: url(../assets/search-icon.svg) no-repeat;
    background-position: left 15px center;

    @include tablet {
      padding-left: 0;
      background: none;
    }

    &-select {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      padding-left: 28px;
      overflow: hidden;

      @include tablet {
        padding-left: 20px;
      }

      @include mobile {
        display: none;
      }

      &_residency {
        @include mobile {
          display: flex;
          padding-left: 28px;
        }
      }

      &_currency {
        flex: 0 0 auto;
        max-width: max-content;
      }

      &_terms {
      }

      &_type {
      }
    }

    &-label {
      color: $grey800;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile {
        display: none;
      }

      &_mobile {
        display: none;
        word-wrap: break-word;

        @include mobile {
          display: block;
          padding-left: 4px;
        }
      }
    }

    & .btn {
      display: flex;
      padding: 13px 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.1px;
      border: none;

      @include tablet {
        height: 42px;
        width: 42px;
        padding: 0;
        background-image: url(../assets/search-icon.svg);
        background-position: center;
        background-size: 20px;
        background-repeat: no-repeat;
      }

      & span {
        @include tablet {
          display: none;
        }
      }
    }
  }

  &__select {
    & .form-select {
      width: 100%;
      padding: 2px 4px;
      padding-right: 24px;
      color: $blue900;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      border: none;
      background-color: inherit;
      background-position: right 4px center;
      min-width: auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      @include mobile {
        background: none;
      }

      &:focus {
        box-shadow: none;
      }
    }

    &-residency {
      position: relative;
      padding-left: 26px;

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        width: 20px;
        height: 20px;
        background-position: center;
        background-repeat: no-repeat;
        transform: translateY(-50%);
      }

      &[data-residency='at']::before {
        background-image: url(../assets/countries/austria.svg);
      }

      &[data-residency='be']::before {
        background-image: url(../assets/countries/belgium.svg);
      }

      &[data-residency='gb']::before {
        background-image: url(../assets/countries/britain.svg);
      }

      &[data-residency='bg']::before {
        background-image: url(../assets/countries/bulgaria.svg);
      }

      &[data-residency='hr']::before {
        background-image: url(../assets/countries/croatia.svg);
      }

      &[data-residency='cy']::before {
        background-image: url(../assets/countries/cyprus.svg);
      }

      &[data-residency='cz']::before {
        background-image: url(../assets/countries/czech.svg);
      }

      &[data-residency='dk']::before {
        background-image: url(../assets/countries/denmark.svg);
      }

      &[data-residency='ee']::before {
        background-image: url(../assets/countries/estonia.svg);
      }

      &[data-residency='fl']::before {
        background-image: url(../assets/countries/finland.svg);
      }

      &[data-residency='fr']::before {
        background-image: url(../assets/countries/france.svg);
      }

      &[data-residency='de']::before {
        background-image: url(../assets/countries/germany.svg);
      }

      &[data-residency='gr']::before {
        background-image: url(../assets/countries/greece.svg);
      }

      &[data-residency='hu']::before {
        background-image: url(../assets/countries/hungary.svg);
      }

      &[data-residency='ie']::before {
        background-image: url(../assets/countries/ireland.svg);
      }

      &[data-residency='it']::before {
        background-image: url(../assets/countries/italy.svg);
      }

      &[data-residency='lv']::before {
        background-image: url(../assets/countries/latvia.svg);
      }

      &[data-residency='lt']::before {
        background-image: url(../assets/countries/lithuania.svg);
      }

      &[data-residency='lu']::before {
        background-image: url(../assets/countries/luxembourg.svg);
      }

      &[data-residency='mt']::before {
        background-image: url(../assets/countries/malta.svg);
      }

      &[data-residency='nl']::before {
        background-image: url(../assets/countries/netherlands.svg);
      }

      &[data-residency='pl']::before {
        background-image: url(../assets/countries/poland.svg);
      }

      &[data-residency='pt']::before {
        background-image: url(../assets/countries/portugal.svg);
      }

      &[data-residency='ro']::before {
        background-image: url(../assets/countries/romania.svg);
      }

      &[data-residency='sk']::before {
        background-image: url(../assets/countries/slovakia.svg);
      }

      &[data-residency='sl']::before {
        background-image: url(../assets/countries/slovenia.svg);
      }

      &[data-residency='es']::before {
        background-image: url(../assets/countries/spain.svg);
      }

      &[data-residency='se']::before {
        background-image: url(../assets/countries/sweden.svg);
      }

      &[data-residency='ch']::before {
        background-image: url(../assets/countries/switzerland.svg);
      }
    }
  }
}
