.search {
  padding: 24px 37px;

  @include tablet {
    padding: 24px 34px;
  }

  @include mobile {
    padding: 24px 20px;
  }

  &__bar {
    display: flex;
    justify-content: flex-end;
    max-width: 1140px;
    margin: 0 auto 8px;
    padding: 10px;
    padding-left: 55px;
    box-sizing: border-box;
    border: 1px solid $grey200;
    border-radius: 32px;
    background: url(../assets/search-icon.svg) no-repeat;
    background-position: left 15px center;

    & .btn {
      display: flex;
      padding: 13px 24px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      font-size: 13px;
      font-weight: 700;
      line-height: 16px;
      letter-spacing: 0.1px;
    }
  }
}
