.subscription {
  padding: 96px 34px 128px;
  margin: 16px auto;
  max-width: 1408px;
  box-sizing: border-box;
  border-radius: 16px;
  background: $blue900;

  @include laptop {
    border-radius: 0;
  }

  @include tablet {
    padding: 64px 34px 96px;
  }

  @include mobile {
    padding: 34px 20px 64px;
  }

  & .container-fluid {
    padding: 0;
    max-width: 1140px;
  }

  &__figure {
    margin: 0 0 16px;
    padding: 18px 20px;
    text-align: center;
  }

  &__image {
    width: 88px;
    height: auto;
  }

  &__title {
    max-width: 600px;
    margin: 0 auto 16px;
    color: $white;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

    @include tablet {
      font-size: 32px;
      line-height: 40px;
    }
  }

  &__description {
    margin: 0 auto 48px;
    color: $grey100;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  &__buttons {
    text-align: center;
  }

  &__button {
    min-width: 240px;
    margin: 0 auto;
    padding: 21px;
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    box-sizing: border-box;
    border: none;

    @include mobile {
      min-width: 180px;
    }
  }
}
