.custom-select {
  position: relative;

  & select {
    display: none;
  }

  & .select-selected {
    display: block;
    padding: 2px 0;
    padding-right: 24px;
    color: $blue900;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-image: url(../assets/icons/dropdown-grey-icon.svg);
    background-position: right 2px center;
    background-repeat: no-repeat;
    user-select: none;
    cursor: pointer;
  }

  & .select-hide {
    display: none;
  }

  & .select-items {
    position: absolute;
    top: calc(100% + 8px);
    left: 0;
    right: 0;
    z-index: 99;
    padding: 4px;
    max-height: 288px;
    min-width: max-content;
    overflow-y: auto;
    color: $blue900;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background-color: $white;
    border-radius: 12px;
    box-shadow: 0px 8px 48px 0px rgba(0, 0, 102, 0.1);

    @include mobile {
      min-width: none;
    }

    &::-webkit-scrollbar {
      width: 6px;
      height: 8px;
      background-color: $grey100;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $grey400;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background-color: $grey600;
    }

    & div {
      padding: 8px 40px 8px 16px;
      user-select: none;
      cursor: pointer;

      &:hover {
        background-color: $blue50;
      }
    }
  }

  & .same-as-selected {
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    background: url(../assets/icons/selected-icon.svg) right 8px center no-repeat;
  }
}
