.deposit-card {
  position: relative;
  padding: 28px 24px 16px;
  margin-bottom: 28px;
  border-radius: 12px;
  background-color: $white;

  @include mobile {
    padding: 20px 16px 16px;
  }

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    @include laptop {
      gap: 16px;
    }
  }

  &__bank {
    flex: 0 1 336px;
    display: flex;
    gap: 12px;

    @include laptop {
      flex: 0 1 296px;
    }

    @include tablet {
      flex: 0 1 276px;
      gap: 8px;
    }

    @include mobile {
      flex: 1 1 197px;
      gap: 6px;
    }

    @include mobilesm {
      flex: 1 1 auto;
      gap: 6px;
    }

    &-logo {
      flex: 0 0 64px;
      width: 64px;
      height: 64px;

      @include laptop {
        flex: 0 0 56px;
        width: 56px;
        height: 56px;
      }

      @include tablet {
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
      }

      @include mobile {
        flex: 0 0 38px;
        width: 38px;
        height: 38px;
      }

      @include mobilesm {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
      }

      & img {
        width: 100%;
        height: auto;
      }
    }

    &-name {
      color: $blue900;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.1px;

      @include laptop {
        font-size: 15px;
        font-weight: 700;
        line-height: 20px;
      }

      @include mobile {
        gap: 6px;
        word-break: break-word;
      }
    }

    &-country {
      color: $grey600;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 138.462% */
      letter-spacing: 0.1px;
    }
  }

  &__details {
    flex: 1 1 auto;
    display: flex;
    gap: 24px;

    @include laptop {
      gap: 16px;
    }

    @include tablet {
      flex: 1 0 auto;
    }

    @include mobile {
      flex: 1 0 88px;
      flex-direction: column;
      align-items: flex-end;
      gap: 0;
      min-width: 88px;
    }

    &-rate {
      flex: 1 0 30%;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;

      @include laptop {
        font-size: 24px;
        line-height: 28px;
      }

      @include mobile {
        font-size: 15px;
        line-height: 20px;
      }
    }

    &-term,
    &-amount {
      flex: 1 0 30%;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.2px;

      @include mobile {
        color: $grey600;
        font-size: 13px;
        line-height: 18px;
      }
    }

    &-amount {
      @include mobile {
        display: none;
      }
    }
  }

  &__buttons {
    flex: 0 0 208px;
    display: flex;
    gap: 16px;

    @include laptop {
      flex: 0 0 166px;
    }

    @include tablet {
      display: none;
    }
  }

  &__button {
    &-primary {
      flex: 1 0 auto;
      padding: 18px 35px;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;

      @include laptop {
        padding: 13px 24px;
      }
    }

    &-favorites {
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      border: none;
      background: url(../assets/favorites-icon.svg) center no-repeat;
    }
  }

  &__tags {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 22px;
    display: flex;
    gap: 8px;
    transform: translateY(-50%);
  }

  &__tag {
    padding: 4px 12px 6px;
    color: $white;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1px;
    border-radius: 100px;

    @include laptop {
      padding: 2px 8px;
      font-size: 11px;
      line-height: 16px;
    }

    &_online {
      background-color: $blue500;
    }

    &_protected {
      background-color: $cyan500;
    }

    &_subordinated {
      color: $red500;
      background-color: $red150;
    }
  }

  &__more-details {
    margin-top: 13px;

    @include tablet {
      display: none;
    }

    &-button {
      padding: 0;
      padding-right: 16px;
      color: $blue500;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.1px;
      border: none;
      background: url(../assets/dropdown-blue-icon.svg) no-repeat right center;
    }

    & .card {
      padding: 40px 24px 40px 24px;
      margin-top: 16px;
      border-left: none;
      border-right: none;

      & .table {
        margin: 0;
        color: $blue900;
        font-size: 17px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;

        & tr:first-child td {
          border-top-width: 1px;
        }

        & td:first-child {
          display: flex;
          align-items: center;
          gap: 8px;
          color: $grey800;
          font-size: 17px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
        }
      }
    }
  }

  &.template {
    & .deposit-card {
      &__bank {
        &-logo {
          background-color: $blue50;
          border-radius: 100px;
        }

        &-info {
          width: 100%;
        }

        &-name {
          width: 100%;
          height: 24px;
          background-color: $blue50;
          border-radius: 100px;

          @include laptop {
            height: 20px;
          }
        }

        &-country {
          max-width: 96px;
          width: 100%;
          height: 18px;
          margin-top: 10px;
          background-color: $blue50;
          border-radius: 100px;

          @include laptop {
            height: 10px;
          }
        }
      }

      &__details {
        gap: 6px;

        &-rate,
        &-term,
        &-amount {
          width: 100%;
          height: 24px;
          background-color: $blue50;
          border-radius: 100px;

          @include laptop {
            min-height: 16px;
          }
        }
      }

      &__button-primary {
        color: $blue50;
        background-color: $blue50;
        border-color: $blue50;
      }

      &__button-favorites-hidden {
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        border: none;
        background: none;
      }

      &__more-details-button-template {
        height: 18px;
        width: 94px;
        color: $blue50;
        background: none;
        background-color: $blue50;
        border-radius: 100px;
        border: none;
      }
    }
  }
}
