.deposit-card {
  position: relative;
  padding: 28px 24px 16px;
  margin-bottom: 28px;
  border-radius: 12px;
  background-color: $white;

  &__info {
    display: flex;
    align-items: flex-start;
    gap: 24px;
  }

  &__bank {
    flex: 0 0 360px;
    display: flex;
    gap: 12px;

    &-name {
      color: $blue900;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0.1px;
    }

    &-country {
      color: $grey600;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 138.462% */
      letter-spacing: 0.1px;
    }
  }

  &__details {
    flex: 1 0 auto;
    display: flex;
    gap: 24px;

    &-rate {
      flex: 1 0 30%;
      font-size: 36px;
      font-style: normal;
      font-weight: 600;
      line-height: 40px;
    }

    &-term,
    &-amount {
      flex: 1 0 30%;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      letter-spacing: 0.2px;
    }
  }

  &__buttons {
    flex: 0 0 208px;
    display: flex;
    gap: 16px;
  }

  &__button {
    &-primary {
      flex: 0 0 160px;
      padding: 18px 0;
      font-size: 15px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.2px;
    }

    &-favorites {
      flex: 0 0 32px;
      width: 32px;
      height: 32px;
      border: none;
      background: url(../assets/favorites-icon.svg) center no-repeat;
    }
  }

  &__tags {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 22px;
    display: flex;
    gap: 8px;
    transform: translateY(-50%);
  }

  &__tag {
    padding: 4px 12px 6px;
    color: $white;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.1px;
    border-radius: 100px;
    background-color: $blue500;

    &_secondary {
      background-color: $cyan500;
    }
  }

  &__more-details {
    margin-top: 13px;

    &-button {
      padding: 0;
      padding-right: 16px;
      color: $blue500;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; 
      letter-spacing: 0.1px;
      border: none;
      background: url(../assets/dropdown-blue-icon.svg) no-repeat right center;
    }
  }
}
